<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#collapseEx2" aria-controls="collapseEx2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <strong>Navbar</strong>
    </a>
    <div class="navbar-collapse collapse" id="collapseEx2" aria-expanded="false">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let route of appRoutes;"
          class="nav-item"
          [routerLink]="route.link"
          routerLinkActive="active"
          >
          <a class="nav-link waves-effect waves-light">{{ route.name }}</a>
        </li>
        <li class="nav-item btn-group">
          <a class="nav-link dropdown-toggle waves-effect waves-light" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item waves-effect waves-light">Action</a>
            <a class="dropdown-item waves-effect waves-light">Another action</a>
            <a class="dropdown-item waves-effect waves-light">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline waves-effect waves-light">
        <input class="form-control" type="text" placeholder="Search">
      </form>
    </div>
  </div>
</nav>
<!--/.Navbar-->
